@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.prod-content {
  &__heading {
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 141.667%;
  }
}
