.wrapper {
    width: min(1240px, 100%);
    background-color: var(--actions-group-background-color);
    box-shadow: 0px 40px 90px 20px var(--header-act-dropdown-shadow);
    border-radius: 20px;
}

.dropdown {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-height: calc(min(582px, 100vh - 134px) - 60px);
    overflow-y: auto;

    &::after {
        content: '';
        position: absolute;
        top: -21px;
        border: 11px solid;
        border-color: var(--actions-group-background-color) transparent transparent;
        rotate: -180deg;
    }
}

.departments {
    &::after {
        left: 370px ;
    }
}

.grocery {
    &::after {
        left: 530px !important;
    }
}

.beauty {
    &::after {
        left: 680px !important;
    }
}