@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    min-width: 100px;
    padding: 13px 20px;
    white-space: nowrap;
    user-select: none;
    background-color: transparent;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
        padding: 10px 13px;
    }

    + .wrapper {
        margin-left: 25px;

        @include media-breakpoint-down(xl) {
            margin-left: 10px;
        }
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &.none {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

.icon + .title, .title + .icon {
    margin-left: 4px;
}

.primary {
    color: var(--button-text-color);
    background-color: var(--primary-background);
    border-radius: 6px;

    &:hover {
        opacity: 0.9;
    }
}

.text {
    font-weight: 400;

    &:hover {
        text-decoration: underline;
    }
}

