@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  min-width: 100px;
  padding: 13px 20px;
  white-space: nowrap;
  user-select: none;
  background-color: transparent;
  cursor: pointer;

  @include media-breakpoint-down(md) {
    padding: 8px 13px;
    font-size: 1.6rem;
    min-width: 0;
  }

  + .wrapper {
    &:not(.btn--no-margin) {
      margin-left: 25px;
    }

    &.arrangeProduct {
      margin-left: 0;
    }

    &.pageNumber,
    &.nextPage,
    &.pageNumber {
      margin-left: 15px;
    }

    @include media-breakpoint-down(xl) {
      margin-left: 10px;
    }

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &.none {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.icon + .title,
.title + .icon {
  margin-left: 4px;
}

.primary {
  color: var(--button-text-color);
  background-color: var(--primary-background);
  border-radius: 6px;

  &:hover {
    opacity: 0.9;
  }

  .icon {
    display: flex;
  }
}

.text {
  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }
}

.filter {
  display: flex;

  padding: 6px 12px;
  border-radius: 6px;
  background-color: var(--filter-btn-bg);

  font-size: 1.5rem;
  font-weight: 700;
  line-height: 142.857%;
  color: var(--filter-btn-color);

  .icon + .title,
  .title + .icon {
    margin-left: 14px;
  }

  .icon {
    display: flex;
  }
}

.heart {
  padding: 10px;
  min-width: 0;
  border-radius: 50%;
  background-color: var(--heart-like-btn-bg);
  box-shadow: 0px 20px 60px var(--heart-like-btn-shadow);

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.filterTag {
  min-width: 75px;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: var(--tag-btn-bg);

  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
  color: #9e9da8;

  + .filterTag {
    margin-left: 0 !important;
  }

  &.productDetail {
    background-color: var(--product-detail-tag-custom);
  }
}

.auth,
.addToHeartCart,
.checkoutCartItemCtrl,
.backProfile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth,
.checkoutCartItemCtrl,
.edit {
  .icon {
    display: flex;
  }

  .icon + .title,
  .title + .icon {
    margin-left: 10px;
  }
}

.auth {
  padding: 12px;
  font-size: 1.7rem;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid var(--auth-btn-color);
}

.addToCart {
  padding: 10px 55px;

  @include media-breakpoint-down(lg) {
    flex: 1;
  }
}

.addToHeartCart {
  min-width: 46px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d2d1d6;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.checkoutCartItemCtrl {
  min-width: 0;
  padding: 8px 0;

  .title {
    color: #9e9da8;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
  }
}

.continueCheckout {
  min-width: 0;
  width: 100%;
  padding: 12px 0;
  border-radius: 50px;
  font-size: 1.8rem;
  line-height: 145.455%;
}

.favoriteCheckout {
  padding: 10px 20px;
  border-radius: 50px;
  @include media-breakpoint-down(md) {
    padding: 13px 20px;
    max-width: 160px;
  }
}

.checkoutAll {
  @include media-breakpoint-down(md) {
    max-width: inherit;
    width: 100%;
  }
}

.dialog {
  padding: 10px 16px;

  .title {
    white-space: nowrap;
  }
}

.deleteBtn {
  color: var(--delete-btn-color);
  background-color: #e53935;
}

.addAddress {
  padding: 8px 20px;
  border-radius: 30px;

  @include media-breakpoint-down(md) {
    padding: 10px 20px;
  }
}

.edit {
  padding: 0;
  display: flex;
  align-items: center;
  min-width: 0;

  .title {
    font-weight: 400;
    line-height: 144.444%;
  }

  .icon {
    filter: var(--checkout-cart-item-icon-color);
  }
}

.backProfile {
  min-width: 0;
  padding: 10px 10px 10px 0;

  .icon {
    display: flex;
  }
}

.sidebarFilter {
  padding: 8px 20px;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 4px;
}

.arrangeProduct {
  padding: 8px 15px;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--arrange-item-bg);
  border-radius: 3px;
  box-shadow: 0px 40px 90px 20px var(--header-act-dropdown-shadow);

  @include media-breakpoint-down(xl) {
    min-width: initial;
    padding: 8px 12px;
  }
  @include media-breakpoint-down(lg) {
    padding: 10px 12px;
  }
}

.nextPage,
.pageNumber {
  padding: 10px;
  min-width: initial;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 50%;
  border: 1px solid #d1d2d6;
  @include media-breakpoint-down(lg) {
    padding: 12px;
  }

  .title {
    display: flex;
  }
}

.pageNumber {
  padding: 8px;
  min-width: 36px;
  max-width: 40px;
  &:hover {
    color: var(--primary-color);
  }

  @include media-breakpoint-down(lg) {
    padding: 10px 15px;
    min-width: 40px;
  }
}
