@import 'normalize.css';

:root {
    --primary-color: #77dae6;
    --primary-background: #ffb700;
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(28%) saturate(1439%) hue-rotate(211deg) brightness(92%) contrast(96%);
    --button-text-color: #171c28;
    --font-family: 'Gordita', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-family);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

// Scrollbar CSS
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

button,
input,
textarea,
select {
    font-family: inherit;
    color: inherit;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.icon {
    filter: var(--icon-color);
}

.container {
    max-width: 1370px;
}

// Fonts emmbeded
@font-face {
    font-family: 'Gordita';
    src: url('/assets/fonts/Gordita-Black.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/fonts/Gordita-BlackItalic.otf');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Gordita';
    src: url('/assets/fonts/Gordita-Bold.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/fonts/Gordita-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/fonts/Gordita-Light.otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/fonts/Gordita-LightItalic.otf');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/fonts/Gordita-Medium.otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/fonts/Gordita-MediumItalic.otf');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/fonts/Gordita-Regular.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/fonts/Gordita-RegularItalic.otf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
