.profile__heading {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 145.455%;
}

.profile__desc {
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 144.444%;
    text-indent: 30px;
}
