@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.wrapper {
  margin-bottom: 50px;
}

.product-container {
  margin-top: 30px;

  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }

  @include media-breakpoint-down(sm) {
    &:not(&--content) {
      background-color: var(--breadcrumbs-bg);
      border-radius: 10px;
      padding: 16px;
    }
  }
}

.product-input {
  margin-top: 20px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 64px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--breadcrumbs-bg);
  box-shadow: 0px 20px 60px 10px var(--breadcrumbs-shadow);

  @include media-breakpoint-down(md) {
    gap: 16px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
    white-space: nowrap;
    color: #9e9da8;
    gap: 8px;

    @include media-breakpoint-down(md) {
      font-size: 1.4rem;
    }

    &--current {
      color: inherit;
    }
  }
}

.prod-preview {
  padding: 0 30px;

  @include media-breakpoint-down(lg) {
    display: flex;
    flex-direction: row-reverse;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 0 16px 0;
  }

  &__list {
    display: flex;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      flex: 1;
    }
  }

  &__item {
    position: relative;
    padding-top: 92%;
    width: 100%;
    flex-shrink: 0;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__thumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 16px;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      padding-left: 0;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__thumb-img {
    width: 65px;
    height: 65px;
    object-fit: contain;
    border-radius: 8px;
    border: 1.5px solid rgb(158, 157, 168, 0.3);
    opacity: 0.9;
    transition: opacity, border-color;
    transition-duration: 0.3s;

    &:not(&--active):hover {
      opacity: 1;
      cursor: pointer;
      border-color: #9e9da8;
    }

    &--active {
      opacity: 1;
      border-color: var(--primary-color);
    }
  }
}

.prod-info {
  padding: 50px;
  background-color: var(--breadcrumbs-bg);
  border-radius: 10px;

  @include media-breakpoint-down(lg) {
    margin-top: 30px;
    background-color: transparent;
  }

  @include media-breakpoint-down(lg) {
    padding: 0;
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 138.462%;

    @include media-breakpoint-down(sm) {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 144.444%;
    }
  }

  &__card {
    margin-top: 30px;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #b9babe;

    @include media-breakpoint-down(xl) {
      padding: 15px;
    }
  }

  &__row {
    display: flex;
    align-items: center;

    &--btn {
      gap: 19px;

      @include media-breakpoint-down(xl) {
        gap: 4px;
      }

      @include media-breakpoint-down(xl) {
        gap: 15px;
      }
    }
  }

  &__price {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
  }

  &__tax {
    margin-left: 10px;
    padding: 2px 8px;
    color: #67b044;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
    border-radius: 4px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), #67b044;
  }

  &__total-price {
    margin: 16px 0;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 138.462%;
  }
}

.prod-props {
  padding-left: 30px;

  @include media-breakpoint-down(xl) {
    padding-left: 10px;
  }

  @include media-breakpoint-down(lg) {
    padding-left: 0;
  }
}

.prod-prop {
  display: flex;
  margin-top: 30px;
  gap: 16px;

  @include media-breakpoint-down(sm) {
    margin-top: 16px;
  }

  &__icon {
    align-self: center;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__desc {
    margin-top: 4px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
  }
}

.prod-filter {
  margin-top: 30px;

  &__form-group {
    margin-top: 20px;
  }

  &__weight,
  &__unit {
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #d2d1d6;
    background-color: var(--filter-form-bg);
    filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));

    &-item {
      padding: 8px 10px;
      cursor: pointer;
      user-select: none;
      @include media-breakpoint-down(lg) {
        padding: 14px 20px;
      }

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.prod-search {
  display: none;
  width: 100%;
  background-color: var(--breadcrumbs-bg);

  @include media-breakpoint-down(md) {
    display: flex;
  }
}

.prod-tab {
  &__list {
    display: flex;
    align-items: center;
    &:first-child {
      margin-left: -30px;

      @include media-breakpoint-down(sm) {
        margin-left: -20px;
        flex-wrap: wrap;
      }
    }
  }

  &__item {
    padding: 0 30px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 145.455%;
    color: #9e9da8;
    white-space: nowrap;

    @include media-breakpoint-down(md) {
      padding: 8px 30px;
      font-size: 1.8rem;
    }

    @include media-breakpoint-down(sm) {
      padding: 8px 20px;
      font-size: 1.6rem;
    }

    &:not(&--current) {
      cursor: pointer;
    }

    &--current {
      color: var(--text-color);
    }
  }

  &__contents {
    padding-top: 30px;
  }

  &__content {
    display: none;

    &--current {
      display: block;
    }
  }
}
