.wrapper {
    width: 100%;
    min-height: 100px;
    max-height: min((100vh - 96px) - 60px, 734px);
    border-radius: 8px;
    background-color: var(--actions-group-background-color);
    box-shadow: var(--boxshadow-search);
}