@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    background-color: var(--header-background-color);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}

.content {
    @extend %flexItemsCenter;
    padding: 30px 0;
    justify-content: space-between;
    
    @include media-breakpoint-down(lg) {
        padding: 20px 0;
    }
    
    @include media-breakpoint-down(sm) {
        padding: 16px 0;
    }

}

.content-left {
    @extend %flexItemsCenter;
    @include media-breakpoint-up(xl) {
        gap: 144px;

    }

    @include media-breakpoint-between(lg, xl) {
        gap: 50px;
    }


}

.content-menu {
    @include media-breakpoint-down(lg) {
        display: block;
    }

    display: none;
    padding: 8px 10px;
    background-color: transparent;
    cursor: pointer;
}

.navbar {
    display: flex;
    gap: 30px;

    @include media-breakpoint-down(lg) {
        display: none
    }

    &__link {
        @extend %flexItemsCenter;
        padding: 5px;

        p {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
        }
    }
}

.navbar__arrow {
    margin: 3px 0 0 6px;
}

.action {
    @extend %flexItemsCenter;
    gap: 20px;

    &__group {
        @extend %flexItemsCenter;

        min-width: 50px;
        height: 50px;
        border-radius: 8px;
        background-color: var(--actions-group-background-color);
        box-shadow: 0px 20px 60px 10px var(--actions-group-box-shadow);
    
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__group--single {
        @include media-breakpoint-down(xl) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        @extend %flexItemsCenter;
        padding: 13px 20px;
        gap: 10px;
        background-color: transparent;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        width: 1px;
        height: 30px;
        background-color: var(--actions-group-separate);
    }

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;
    }
}
