.wrapper {
  padding: 14px;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  border-radius: 10px;
}

.success {
  background-color: rgba(81, 255, 148, 0.2);
  border: 1.5px solid #46a05c;
}

.error {
  background-color: rgba(254, 139, 131, 0.2);
  border: 1.5px solid #f84227;
}
